<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="p-5 text-center">Registration</div>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <div class="d-flex flex-column">
        <div class="mb-4">
            <div class="input-group input-group-sm d-flex justify-content-center">
                <span class="input-group-text" id="Username">Username</span>
                <input name="username" type="text" class="form-control" style='max-width: 15%'
                       aria-label="Sizing example input" aria-describedby="Username" autofocus>
            </div>
            <div class="d-flex justify-content-center">
                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
        </div>

        <div class="mb-4">
            <div class="input-group input-group-sm d-flex justify-content-center">
                <span class="input-group-text" id="Email">Email</span>
                <input name="email" type="text" class="form-control" style='max-width: 15%'
                       aria-label="Sizing example input" aria-describedby="Email">
            </div>
            <div class="d-flex justify-content-center">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        </div>

        <div class="mb-4">
            <div class="input-group input-group-sm d-flex justify-content-center">
                <span class="input-group-text" id="Password">Password</span>
                <input name="password" type="password" class="form-control" style='max-width: 15%'
                       aria-label="Sizing example input" aria-describedby="Password">
            </div>
            <div class="d-flex justify-content-center">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </div>


        <div class="text-center p-3">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Sign up</button>
        </div>
    </div>
</form>
</body>
</html>