<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="header :: header"></div>
</head>
<body>
<form method="post">
    <div class="d-flex flex-column">
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text" id="inputGroup-sizing-sm">name</span>
            <input name="name" type="text" class="form-control" style='min-width: 20%; max-width: 70%'
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text" id="inputGroup-sizing-sm">Login</span>
            <input name="login" type="text" class="form-control" style='min-width: 20%; max-width: 70%'
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
            <input name="password" type="password" class="form-control"
                   style='min-width: 20%; max-width: 70%'>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Save</button>
        </div>
    </div>

    <div>User List</div>
    <div th:each="user: ${users}">
        <div>
            <b th:text="${user.id}"></b>
            <span th:text="${user.name}"></span>
            <span th:text="${user.login}"></span>
            <span th:text="${user.password}"></span>
        </div>
    </div>
</form>
</body>
</html>