<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <div th:insert="fragments/header :: header"></div>
</head>
<body>
<div class="fs-3 text-center">Users</div>
<div class=" mt-4 d-flex justify-content-center align-items-center">
    <table class="table table-hover" style="width:50%">
        <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <div th:each="user: ${users}">
            <div>
                <tbody>
                <tr>
                    <th><b th:text="${user.id}"></b></th>
                    <th><span th:text="${user.name}"></span></th>
                    <th><span th:text="${user.login}"></span></th>
                    <th><span th:text="${user.password}"></span></th>
                </tr>
                </tbody>
            </div>
        </div>
    </table>
</div>
</body>
</html>